html {
    background: #F9FAFC
}

.left-image {
    padding: 0;
}

.right-image {
    padding: 0;
}
hr {
    margin-top: 30px;
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #d3d6da;
    height: 1px;
}

.top-left-service {
    margin-left: 0;
}

.top-right-service {
    margin-right: 0;
}

.bottom-left-service {
    margin-left: 0;
}

.bottom-right-service {
    margin-right: 0;
}

.under_services {
    text-align: center;
}

.more_services {
    color: #f46626;
    font-weight: bold;
}

.employees_login {
    color: #f46626;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #ffffff;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 9px 1px rgba(195,191,191,0.5);
}

.footer_title {
    color: #f46626;
    font-weight: bold;
    font-size: larger;
}

.footer_hr {
    margin-top: -5px;
}

.new_environment {
    color: #f46626;
    font-weight: bold;
    text-decoration: underline;
}

.card-shadow {
    box-shadow: 0px 0px 9px 1px rgba(195,191,191,0.5);
}

#loadMore {
    padding: 10px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}

#loadMore:hover {
    background-color: #fff;
    color: #33739E;
}

.loadCard {
    display:none;
}

/* RSS feed CSS */

.feed_title {
    text-decoration: none;
    color: dimgrey;
}

.newsfeed {
    margin-bottom: 5px;
    color: #adadad;
}

.max_width_banner {
    max-width: 450px;
    max-height: 200px;
}
